@import url(//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist);
* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden ;
    padding: 0;
    margin: 0;
    font-family: 'Cardo', serif;
}

/* navbar */
nav{
    display: flex;
    text-align: center;
    padding: 0;
    height: 65px;
    position: fixed;
    top: -10px;
    width: 100%;
    z-index: 999;
    background-color: rgb(244, 238, 238);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.184);
    justify-content: center;
}
nav li{
    display: inline; 
}
a {
  text-decoration: none;
  color: #000;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}
.hov{
    padding: 0px 30px;
    transition: all 0.4s ease-in-out;
    color: #000;
}

.hov:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-image:linear-gradient(to right, rgba(234, 177, 178, 0.785), rgb(76, 106, 61));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
.hov:hover{
    cursor: pointer;
    color: rgb(235, 169, 170);
}
.hov:hover:before {
    transform: scaleX(1);
  }
.search-box {
    margin-left: 200px;
    padding-top: 20px;
    
}
.search-box input{
    width: 120px;
    height: 10px;
    border-radius: 15px;
    border: 2px solid #454545;
    padding: 0.7rem;
}
.search-box input:hover{
    border: 2px solid rgb(241, 140, 142);
    
}
.go-icon{
    background: none;
    border: none;
    transform: translateX(-35px);
}
.go-icon:hover{
    cursor: pointer;
    color: rgb(241, 140, 142);
}

/* partie-1 */
.box-1 {
    position: relative;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);
}
.box-1 img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    opacity: 0.75;
    transition: transform 0.7s ease;
}
.box-1:hover img {
    transform: scale(1.1);
  }
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-family: "Playlist"; src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot"); src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff") format("woff"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist") format("svg"); 
    font-size: 100px;
    font-weight:lighter;
    color:rgb(76, 106, 61);
  }

  /* products */
.container-product {
    background-color:rgba(234, 177, 178, 0.53);
    padding-bottom: 100px;
}
.box-2 {
    background-color:  #ffffff ;
    max-width: 80%;
    height: auto;
    margin: auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);
    text-align: center;
    font-size: larger;

}
.box-2 hr{
    width: 80%;
    background-color:#686767;
}
.box-2 a{
    text-decoration-line: none;
}
.box-2 li {
    display: inline;
    color: #000;
    font-weight: bold;
    
  }

.categorie {
    padding: 30px;
    transition: all 0.4s ease-in-out;
    color: #000;
  }
.categorie:hover{
    color :rgb(234, 177, 178);
  }
.product {
    overflow: hidden;
    transition: all 0.3s ease;
    width: 240px;
    height: 210px;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.product:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition-delay: 0.1s;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
}

.product:hover img{
    cursor: pointer;
}

.products {
    display: grid;
    margin-top: 40px;
    padding-bottom: 30px;
    justify-content: center;
    grid-column-gap: 17px;
    grid-row-gap: 80px;
    grid-template-areas: 
    "pd1 pd2 pd3 pd4"
    "pd5 pd6 pd7 pd8"
    "pd9 pd10 pd11 pd12";
}
.product img{
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    transition: transform 0.3s ease;
    width: 190px;
}
.product-description {
    display: none;
    transition: transform 0.3s ease;
    margin-right: 1rem;
    width: 100%;
    height: 100%;
}
.product.trans{
    opacity: 1;
    transform: scale(1.3);
    transition-delay: 0.1s;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgb(255, 249, 249);
}
i.far {
    color: black;
  }
  
i.fa {
    color: red;
    opacity: 0.7;
  }
  
i.fa-heart:hover{
    cursor: pointer;
}

.border1 {
    height: 20px;
    width: 100%;
    background: linear-gradient( rgba(234, 177, 178, 0.53), rgba(255, 255, 255, 0.53));
    
}

/* contact us */
.part-4 {
    background-color: rgb(255, 255, 255);
    font-family: 'Cardo', serif;
    text-align: center;
    height: 600px;
    width:100vw;
    margin: 0;
    padding: 0;
}
.part-4 h1{
    font-family: "Playlist"; src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot"); src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff") format("woff"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist") format("svg"); 
    font-size: 50px;
    font-weight: lighter;
    color:rgb(76, 106, 61);
}
.part-4 form {
    background-image:linear-gradient( rgba(234, 177, 178, 0.785), rgb(235, 228, 228)); 
   max-width: 500px;
    margin: 10px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
}
input,
select,
textarea {
    background-color: rgb(255, 255, 255);
    border: 1px solid  #d1c8c2;
    border-radius: 4px;
    font-family: inherit;
    padding: 10px;
    margin-bottom: 25px;
    width: 95%;
}
.part-4 button {
    background-color:rgb(76, 106, 61);
    border:  rgb(102, 143, 81);
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    font-weight:600;
    width: 35%;
    margin-bottom: 20px;
    height: 40px;
    color: rgb(255, 255, 255); 
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);

}
.part-4 button:hover{
    background-color:rgb(94, 148, 67);
    cursor: pointer;
    box-shadow: 0px 0px 12px rgba(94, 148, 67, 0.89);
    transition-duration: 0.6s;
}

.border2 {
    height: 20px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.53) , rgba(234, 177, 178, 0.53));
    
}

/* footer */
.footer { 
    background: linear-gradient( rgba(234, 177, 178, 0.53), rgba(234, 177, 178, 0.53), rgba(255, 255, 255, 0.53));
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: 400px;
    margin-bottom: 0px;
    
}
footer .contact{
    flex-basis: 60%;
}
.photo{
    flex-basis:40%;
    padding-top: -30px;

}
footer h2{
    font-family: "Playlist"; src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot"); src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff") format("woff"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist") format("svg"); 
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    color:rgb(76, 106, 61);
 
}
.imag{
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);
    transform: translateX(45%);
    height: 400px;
   
}

footer li{
    padding-left: 5%;
    font-size: 22px;
    text-decoration: none;
    padding-bottom: 20px;
}
footer li i{
    color:rgb(76, 106, 61);
    font-size:30px;
    padding-right:10px;
}

footer hr{
    color: #E5B5AD;
}
footer .fa {
    padding:10px;
    color:rgb(76, 106, 61);
    background-color: #E5B5AD;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    width: 40px;
    height: 40px;  
    text-align: center;
  }
 footer .fa-facebook{
    margin-left: 400px;
 }
footer  .fa-instagram{
    margin-left: 10px;
}
  